In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Ribeira Grande,PT,2020-02-23 06:34:04,38.52,-28.70,53.46,82,4,9.78,clear sky,0.0,0.0
1,1,Sur,OM,2020-02-23 06:43:29,22.57,59.53,75.81,51,1,4.47,clear sky,0.0,0.0
2,2,Ushuaia,AR,2020-02-23 06:36:08,-54.80,-68.30,48.20,70,40,34.45,scattered clouds,0.0,0.0
3,3,Waw,SS,2020-02-23 06:46:52,7.70,28.00,78.22,13,36,8.81,scattered clouds,0.0,0.0
4,4,Pisco,PE,2020-02-23 06:37:47,-13.70,-76.22,73.40,88,75,6.93,broken clouds,0.0,0.0

In [3]:
cols = city_data_df.columns.tolist()
cols

['City_ID',
 'City',
 'Country',
 'Date',
 'Lat',
 'Lng',
 'Max Temp',
 'Humidity',
 'Cloudiness',
 'Wind Speed',
 'Current Description',
 'Rain inches (last 3 hours)',
 'Snow inches (last 3 hours)']

In [4]:
# Prompt the customer for the minimum temperature preference.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# Prompt the customer for the maximum temperature preference. 
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# Prompt the customer to answer if he or she would like it to be raining or not.
rain = str(input('Do you want it to be raining? (yes/no)\n'))
# Prompt the customer to answer if he or she would like it to be snowing or not
snow = str(input('Do you want it to be snowing? (yes/no)\n'))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no)
no
Do you want it to be snowing? (yes/no)
no

In [5]:
for index, row in city_data_df.iterrows():
    if rain == "no":
        rain_inches = city_data_df["Rain inches (last 3 hours)"] == 0
    else:
        rain_inches = city_data_df["Rain inches (last 3 hours)"] != 0
    if snow == "no":
        snow_inches = city_data_df["Snow inches (last 3 hours)"] == 0
    else:
        snow_inches = city_data_df["Snow inches (last 3 hours)"] != 0

In [6]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Rain inches (last 3 hours)"] != rain_inches) &
                                       (city_data_df["Snow inches (last 3 hours)"] != snow_inches) &
                                       (city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                       
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Ribeira Grande,PT,2020-02-23 06:34:04,38.52,-28.70,53.46,82,4,9.78,clear sky,0.00,0.0
1,1,Sur,OM,2020-02-23 06:43:29,22.57,59.53,75.81,51,1,4.47,clear sky,0.00,0.0
2,2,Ushuaia,AR,2020-02-23 06:36:08,-54.80,-68.30,48.20,70,40,34.45,scattered clouds,0.00,0.0
3,3,Waw,SS,2020-02-23 06:46:52,7.70,28.00,78.22,13,36,8.81,scattered clouds,0.00,0.0
4,4,Pisco,PE,2020-02-23 06:37:47,-13.70,-76.22,73.40,88,75,6.93,broken clouds,0.00,0.0
5,5,Vanimo,PG,2020-02-23 06:41:49,-2.67,141.30,83.14,79,22,16.11,few clouds,0.00,0.0
7,7,Sao Filipe,CV,2020-02-23 06:35:02,14.90,-24.50,67.03,81,100,14.16,overcast clouds,0.00,0.0
9,9,Richards Bay,ZA,2020-02-23 06:41:25,-28.78,32.04,77.25,79,100,39.12,light rain,2.56,0.0
10,10,Vila Franca Do Campo,PT,2020-02-23 06:35:49,37.72,-25.43,57.20,82,40,3.36,scattered clouds,0.00,0.0
11,11,Victoria,HK,2020-02-23 06:37:43,22.29,114.16,79.00,41,27,6.93,scattered clouds,0.00,0.0

In [7]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ribeira Grande,PT,53.46,clear sky,38.52,-28.70,
1,Sur,OM,75.81,clear sky,22.57,59.53,
2,Ushuaia,AR,48.20,scattered clouds,-54.80,-68.30,
3,Waw,SS,78.22,scattered clouds,7.70,28.00,
4,Pisco,PE,73.40,broken clouds,-13.70,-76.22,
5,Vanimo,PG,83.14,few clouds,-2.67,141.30,
7,Sao Filipe,CV,67.03,overcast clouds,14.90,-24.50,
9,Richards Bay,ZA,77.25,light rain,-28.78,32.04,
10,Vila Franca Do Campo,PT,57.20,scattered clouds,37.72,-25.43,
11,Victoria,HK,79.00,scattered clouds,22.29,114.16,

In [8]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [9]:

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Ribeira Grande,PT,2020-02-23 06:34:04,38.52,-28.70,53.46,82,4,9.78,clear sky,0.0,0.0
1,1,Sur,OM,2020-02-23 06:43:29,22.57,59.53,75.81,51,1,4.47,clear sky,0.0,0.0
2,2,Ushuaia,AR,2020-02-23 06:36:08,-54.80,-68.30,48.20,70,40,34.45,scattered clouds,0.0,0.0
3,3,Waw,SS,2020-02-23 06:46:52,7.70,28.00,78.22,13,36,8.81,scattered clouds,0.0,0.0
4,4,Pisco,PE,2020-02-23 06:37:47,-13.70,-76.22,73.40,88,75,6.93,broken clouds,0.0,0.0

In [52]:
Sakaiminato = preferred_cities_df[preferred_cities_df['City'].str.contains("Sakaiminato")]
Sakaiminato

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
295,295,Sakaiminato,JP,2020-02-23 06:47:55,35.55,133.23,50.0,43,75,14.99,broken clouds,0.0,0.0

In [53]:
Komono = preferred_cities_df[preferred_cities_df['City'].str.contains("Komono")]
Komono

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
541,541,Komono,JP,2020-02-23 06:48:48,35.0,136.52,53.6,53,40,25.28,scattered clouds,0.0,0.0

In [54]:
Kawai = preferred_cities_df[preferred_cities_df['City'].str.contains("Kawai")]
Kawai

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
159,159,Kawai,JP,2020-02-23 06:47:26,34.23,135.85,55.0,46,75,12.75,broken clouds,0.0,0.0

In [55]:
Shingu = preferred_cities_df[preferred_cities_df['City'].str.contains("Shingu")]
Shingu

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
182,182,Shingu,JP,2020-02-23 06:40:49,33.73,135.98,51.8,43,20,17.22,few clouds,0.0,0.0

In [56]:
four_cities = pd.concat([Sakaiminato, Komono, Kawai, Shingu])
four_cities

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
295,295,Sakaiminato,JP,2020-02-23 06:47:55,35.55,133.23,50.0,43,75,14.99,broken clouds,0.0,0.0
541,541,Komono,JP,2020-02-23 06:48:48,35.00,136.52,53.6,53,40,25.28,scattered clouds,0.0,0.0
159,159,Kawai,JP,2020-02-23 06:47:26,34.23,135.85,55.0,46,75,12.75,broken clouds,0.0,0.0
182,182,Shingu,JP,2020-02-23 06:40:49,33.73,135.98,51.8,43,20,17.22,few clouds,0.0,0.0

In [57]:
columnsData = four_cities.loc[:,['City','Lat','Lng']]
columnsData

            City    Lat     Lng
295  Sakaiminato  35.55  133.23
541       Komono  35.00  136.52
159        Kawai  34.23  135.85
182       Shingu  33.73  135.98

In [60]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)

# Latitude-longitude pairs
Sakaiminato = (35.55, 133.23)
Komono = (35.00, 136.52)
Kawai = (34.23, 135.85)
Shingu = (33.73, 135.98)

fig = gmaps.figure()
Sakaiminiato2Shingu = gmaps.directions_layer(Sakaiminato, Shingu, waypoints=[Komono, Kawai])
fig.add_layer(Sakaiminiato2Shingu)
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
fig = gmaps.figure()
Sakaiminiato2Shingu_via_driving = gmaps.directions_layer(
        Sakaiminato, Shingu, waypoints=[Komono, Kawai],  
        travel_mode='DRIVING')
fig.add_layer(Sakaiminiato2Shingu_via_driving)
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
four_cities

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
295,295,Sakaiminato,JP,2020-02-23 06:47:55,35.55,133.23,50.0,43,75,14.99,broken clouds,0.0,0.0
541,541,Komono,JP,2020-02-23 06:48:48,35.00,136.52,53.6,53,40,25.28,scattered clouds,0.0,0.0
159,159,Kawai,JP,2020-02-23 06:47:26,34.23,135.85,55.0,46,75,12.75,broken clouds,0.0,0.0
182,182,Shingu,JP,2020-02-23 06:40:49,33.73,135.98,51.8,43,20,17.22,few clouds,0.0,0.0

In [63]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in four_cities.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        four_cities.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [65]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
four_cities_hotel_info = [info_box_template.format(**row) for index, row in four_cities.iterrows()]

In [66]:

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = four_cities[["Lat", "Lng"]]
max_temp = four_cities["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=four_cities_hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))